<div class="flex flex-col justify-between h-full">
    <div class="flex justify-center items-center grid grid-cols-3">
        <mat-card *ngFor="let column of columns; let index = index" class="bg-gray-100 mx-2 flex flex-col h-full">
            <div class="max-w-full text-center w-full mx-0 px-3.5">
                <mat-card-title class="text-base w-full flex justify-center items-baseline">
                    <mat-form-field appearance="outline" class="w-full p-0 m-0">
                        <mat-label>Select your component type</mat-label>
                        <mat-select [value]="column.columnComponentType ?? 'input'" #matSelect (valueChange)="onComponentTypeValueChange(column, $event)">
                            <mat-option value="input">Input Component</mat-option>
                            <mat-option value="button">Button Component</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="ml-4" mat-icon-button color="warn" matTooltip="Remove Column" matTooltipPosition="below" (click)="removeColumn(column)">
                        <mat-icon fontSet="material-icons-outlined" class="text-4xl" inline>highlight_off</mat-icon>
                    </button>
                </mat-card-title>

                <mat-card-subtitle>
                    <p class="text-center text-lg font-black">{{ matSelect.value === 'input' ? 'Input ' : 'Button ' }}Component Configuration</p>
                </mat-card-subtitle>
            </div>

            <mat-card-content class="overflow-y-auto h-5/6">
                <!--  Button Component  -->

                <app-button-configuration
                    *ngIf="matSelect.value === 'button'"
                    [buttonConfiguration]="returnButtonFormConfiguration(column)"
                    (componentConfiguration)="getComponentConfigurationEvent($event, 'button', index)"
                ></app-button-configuration>

                <!--  Input Component  -->
                <app-input-configuration
                    *ngIf="matSelect.value === 'input'"
                    [inputConfiguration]="returnInputFormConfiguration(column)"
                    (componentConfiguration)="getComponentConfigurationEvent($event, 'input', index)"
                ></app-input-configuration>
            </mat-card-content>
        </mat-card>

        <button (click)="addColumn('input')" matTooltip="Add new Column" matTooltipPosition="below">
            <mat-card *ngIf="checkColumnsCountForLessThanThree()" class="flex flex-col justify-center items-center bg-gray-100 mx-5 h-5/6 empty-state-section">
                <mat-icon fontSet="material-icons-outlined" class="text-blue-600 text-7xl flex justify-center items-center">add_circle </mat-icon>
            </mat-card>
        </button>
    </div>

    <div class="flex justify-evenly items-end">
        <button mat-flat-button color="warn" matTooltip="Close Section Settings" matTooltipPosition="below" (click)="discardSectionSettings()">
            <mat-icon fontSet="material-icons-outlined" class="text-3xl" inline>close</mat-icon>
            <span>Close Section Settings</span>
        </button>

        <button mat-flat-button color="primary" matTooltip="Close Section Settings" matTooltipPosition="below" (click)="saveSectionSettings()">
            <mat-icon fontSet="material-icons-outlined" class="text-3xl" inline>save</mat-icon>
            <span>Save Section Settings</span>
        </button>
    </div>
</div>
