<div class="h-full flex justify-center bg-gray-200 py-14">
    <mat-card class="flex flex-col h-full w-5/6 px-0 pt-0">
        <mat-card-header class="flex flex-col text-center m-0 w-full bg-blue-300 mb-10">
            <mat-card-title class="text-base flex justify-around items-baseline pt-5">
                <h1 class="flex items-center">
                    <span class="mx-2"> FormBuilder</span>
                    <mat-icon fontSet="material-icons-outlined"> dashboard </mat-icon>
                </h1>

                <form (submit)="submitForm()" id="form" [formGroup]="form">
                    <mat-form-field appearance="outline" class="mx-3 flex justify-center">
                        <mat-label>
                            <span>Form Name</span>
                        </mat-label>
                        <input matInput type="text" formControlName="name" pattern="[a-zA-Z ]*" />
                        <button *ngIf="form.get('name')!.value" matSuffix mat-icon-button (click)="form.get('name')?.setValue(null)">
                            <mat-icon fontSet="material-icons-outlined">close</mat-icon>
                        </button>
                        <mat-hint *ngIf="!form.get('name')!.hasError('pattern')" class="flex">
                            <span>Can't be changed in future</span>
                        </mat-hint>
                        <mat-error *ngIf="form.get('name')!.hasError('pattern')" class="flex">
                            <span>Only English letters are accepted</span>
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-card-title>

            <mat-card-subtitle>
                <hr class="w-full my-3 h-1" />
                <h3>Create your form by creating sections and then configure those section's column. In each Section you can set up to 3 components</h3>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="overflow-y-auto h-5/6">
            <mat-grid-list cols="1" rowHeight="150px" gutterSize="30px" class="mx-5">
                <!-- section -->
                <mat-grid-tile *ngFor="let section of sections; let index = index" class="w-full">
                    <div class="flex flex-col w-full h-full">
                        <div class="flex justify-evenly w-full text-center h-full items-center">
                            <div *ngIf="sections[index].columnsCount === 0" class="flex items-center">
                                <h1 class="mb-0">Click on setting button to add components into this section</h1>
                            </div>
                            <div class="h-full flex justify-around items-center w-1/3 component-group" *ngFor="let column of sections[index].columnInfo">
                                <!--  button component  -->
                                <app-button *ngIf="column.componentInfo.componentType === 'button'" [buttonConfiguration]="column.componentInfo"> </app-button>
                                <!--  input component  -->
                                <app-input
                                    *ngIf="column.componentInfo.componentType === 'input'"
                                    [readonlyForDemo]="true"
                                    [inputFormConfiguration]="column.componentInfo"
                                ></app-input>
                            </div>
                        </div>

                        <div class="flex flex-row justify-around mt-auto section-button">
                            <button
                                class="w-full p-1 bg-blue-100 hover:bg-blue-200"
                                matTooltip="Section Setting"
                                matTooltipPosition="below"
                                (click)="openSettingDialog(index)"
                            >
                                <mat-icon fontSet="material-icons-outlined" class="text-blue-600">settings</mat-icon>
                            </button>
                            <button
                                class="w-full p-1 bg-blue-100 hover:bg-blue-200"
                                matTooltip="Remove Section"
                                matTooltipPosition="below"
                                (click)="removeSection(section)"
                            >
                                <mat-icon fontSet="material-icons-outlined" class="text-blue-600">remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-grid-tile>

                <!-- section empty state  -->
                <button (click)="addSection()">
                    <mat-grid-tile class="empty-state-section" matTooltip="Add Section" matTooltipPosition="below">
                        <mat-icon fontSet="material-icons-outlined" class="add-section-button text-blue-600">add_circle </mat-icon>
                    </mat-grid-tile>
                </button>
            </mat-grid-list>
        </mat-card-content>

        <mat-card-actions class="flex justify-around">
            <button mat-flat-button color="warn" class="bg-amber-300" (click)="clearForm()">
                <mat-icon fontSet="material-icons-outlined" class="text-2xl" inline>restart_alt</mat-icon>
                <span>Reset Form</span>
            </button>

            <button mat-flat-button color="primary" class="bg-light-blue-300" form="form" type="submit" [disabled]="!isSubmitButtonDisable()">
                <mat-icon fontSet="material-icons-outlined" class="text-2xl" inline>save</mat-icon>
                <span>Save Form</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
