<div class="container-fluid h-screen flex justify-center items-center bg-gray-200">
    <mat-card class="flex-col h-5/6">
        <mat-card-header class="flex justify-center flex-shrink-0 text-center pt-3">
            <mat-card-title>Angular Form Builder/Viewer</mat-card-title>
            <mat-card-subtitle>Choose your form</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="flex-grow overflow-auto">
            <mat-grid-list cols="2" gutterSize="30px" class="mx-5">
                <mat-grid-tile>
                    <div class="dastan">
                        <div *ngFor="let componentConfiguration of componentsListConfiguration">
                            <app-button [buttonConfiguration]="componentConfiguration"></app-button>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-actions class="flex justify-around mb-12">
            <button mat-flat-button color="primary" (click)="saveForm()">Save Form</button>
            <button mat-flat-button color="warn" (click)="clearForm()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>
