//noinspection CssUnusedSymbol
.mat-tooltip {
    max-width: 150px !important;
    background-color: #3c4b64 !important;
    text-align: center !important;
    font-size: 16px !important;
}

// the following class will work in the runtime and add style to all mat-tooltips
