@import './scss/global';
@import './scss/scrollbar';
@import './scss/tooltip';
@import './scss/theme';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
