<a (click)="handleClick()" [dir]="buttonConfiguration.isRtl ? 'rtl' : 'ltr'">
    <button
        mat-flat-button
        [routerLink]="buttonConfiguration.localNavigationUrl"
        [matTooltip]="buttonConfiguration.tooltipText ?? ''"
        [matTooltipDisabled]="!buttonConfiguration.hasToolTip"
        [matTooltipPosition]="buttonConfiguration.tooltipPosition ?? 'below'"
        [matTooltipHideDelay]="buttonConfiguration.tooltipHideDelay ?? 0"
        [color]="buttonConfiguration.themeColor"
        [disabled]="disabledForDemo"
    >
        <span [className]="buttonConfiguration.tailwindsClassForLabel">{{ buttonConfiguration.label }}</span>
        <mat-icon fontSet="material-icons-outlined" *ngIf="buttonConfiguration.hasIcon">{{ buttonConfiguration.icon }}</mat-icon>
    </button>
</a>
